<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>BetML — Bennett Cohen</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../static//dist/output.css" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="/static/public/icons/fav.png">    </head>
    <body class="bg-slate-50 pt-8 px-8 overflow-x-clip sm:pt-16 sm:px-12">

        <!-- Header -->
        <header class="text-gray-900 font-slab  ">
            <div class="container items-center flex justify-between">
                <div class="font-slab text-5xl"><a href="/">BC</a></div>

                <button class="sm:hidden" id="toggle">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16m-7 6h7" />
                    </svg>
                </button>
<!-- class="bg-slate-50 fixed top-20 shadow-2xl sm:shadow-none text-2xl bottom-0 w-64 sm:w-auto sm:sticky"> -->
                <nav id="nav" class="bg-slate-50 fixed top-20 -right-full transition-all text-2xl w-64 rounded shadow-2xl sm:w-auto sm:shadow-none sm:sticky">
                    <ul class="mt-12 text-center sm:flex sm:mt-0">
                        <li>
                            <button class="rounded bg-slate-50 w-36 h-12 mb-10 hover:bg-cyan-150 sm:mb-0">
                                <a href="/">Home</a>
                            </button>
                        </li>
                        <li>
                            <a href="/projects">
                                <button class="rounded bg-slate-50 w-36 h-12 mb-10 hover:bg-cyan-150 sm:mb-0">Projects</button>
                            </a>
                        </li>
                        <li>
                            <a href="/blog">
                                <button class="rounded bg-slate-50 w-36 h-12 mb-10 hover:bg-cyan-150 sm:mb-0">Blog</button>
                            </a>
                        </li>
                        <li>
                            <a href="/projects">
                                <button  class="rounded bg-cyan-150 w-36 h-12 mb-10 hover:bg-cyan-150 sm:mb-0">My Resume</button>
                            </a>
                        </li>
                        
                    </ul>
                </nav>
            </div>
        </header>
        

        <div class="mt-8 md:md-12 grid grid-cols-1 md:grid-cols-2">
            <div id="left" class="md:w-2/4">
                <div class="flex flex-row justify-between">
                    <div class="font-slab text-gray-900 text-4xl">BetML</div>
                    <div class="font-sans text-slate-600 text-base flex flex-row md:hidden">
                        <a href="#resources"><div><mark class="bg-cyan-150">Papers & Blog Posts</mark></div></a>
                    </div>
                </div>
                
                <hr class="h-2 mt-1 bg-cyan-150 w-14">
                <p class="mt-4 font-slab text-3xl">
                    <mark class="bg-yellow-200">Robust, ML-powered sports betting engine with <u>272% real ROI</u>.</mark>
                </p>
            </div>
        </div>

        <div class="mt-8 md:md-12 grid grid-cols-1 md:grid-cols-2">
            <div class="md:w-2/4 font-sans text-sm md:text-base text-slate-600">
                BetML is a set of three separate projects (BetNBA, BetMLB, and BetNFL [WIP]), which 
                combine supervised learning and classical decision theory to place optimal sports bets 
                to maximize profit over time. BetML introduces more effective strategies to consider 
                risk than what traditional risk aversion functions offer. The project also improves 
                upon the Kelly Criterion investment sizing strategy to include a time delay on bet scaling 
                to make it more resilient against large swings and variance. 
                <br><br>
                BetNBA was tested last season and profited over 272% in real, legal betting environments 
                over four months. Each model is built with its own nuances from the sport itself, such as 
                BetMLB using exclusively player features instead of team features as the lineups and 
                batting order change every day. The first iteration began in Fall 2020, and I now offer 
                most of the models' recommended bets at the link above. I have written a few academic 
                papers/reports and blogs on the topics, and am looking to publish a complete paper on 
                the methods and intricacies in the near future.
            </div>
            <div class="md:w-2/4 font-sans text-sm md:text-base text-slate-600">
                BetML is a set of three separate projects (BetNBA, BetMLB, and BetNFL [WIP]), which 
                combine supervised learning and classical decision theory to place optimal sports bets 
                to maximize profit over time. BetML introduces more effective strategies to consider 
                risk than what traditional risk aversion functions offer. The project also improves 
                upon the Kelly Criterion investment sizing strategy to include a time delay on bet scaling 
                to make it more resilient against large swings and variance. 
                <br><br>
                BetNBA was tested last season and profited over 272% in real, legal betting environments 
                over four months. Each model is built with its own nuances from the sport itself, such as 
                BetMLB using exclusively player features instead of team features as the lineups and 
                batting order change every day. The first iteration began in Fall 2020, and I now offer 
                most of the models' recommended bets at the link above. I have written a few academic 
                papers/reports and blogs on the topics, and am looking to publish a complete paper on 
                the methods and intricacies in the near future.
            </div>
        </div>

        


            


        

       

         

          


           
    </body>

</html>