<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Welcome to BetML</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="./static//dist/output.css" rel="stylesheet">
        <link rel="mask-icon" href="favicon.svg">
    </head>
    <body class="bg-slate-50 pt-20 px-10">
        

        <!-- Hero -->
        <div class="flex flex-col container mt-4 md:mt-12 md:flex-row md:justify-between">
            <div class="md:w-2/4">
                <p class="font-slab  text-4xl md:text-5xl md:w-10/12">
                    Welcome to BetML
                </p>
                <div class="h-2 mt-1 bg-cyan-150 w-14"></div>
                <p class="mt-4 font-slab text-3xl">
                    A robust, ML-powered sports betting engine with <u>272% real ROI</u>.
                </p>

                <div class="mt-2 font-sans text-slate-300 text-xs md:text-sm">
                    a project by <a href="/"><u>Bennett Cohen</u></a>
                </div>

                <div class="mt-8 font-sans text-slate-600 text-sm md:text-base">
                    BetML is a series of algorithms created for the NBA, MLB, and NFL to 
                    make the mathematically optimal bets from over 1000 statistics (per model). 
                    <br><br>
                    Last NBA season, BetML <u>profited over 272%</u> in under four months of betting.
                </div>

                <div class="font-slab text-2xl mt-8 flex justify-between md:justify-start">
                    <button class="rounded bg-cyan-150 w-28 h-28 hover:bg-cyan-100 md:w-32 md:h-32 md:mr-8">
                        <a href="/BetNBA">BetNBA</a>
                    </button>

                    <button class="rounded bg-cyan-150 w-28 h-28 hover:bg-cyan-100 md:w-32 md:h-32 md:mr-8">
                        <a href="">BetMLB</a>
                    </button>

                    <button class="rounded bg-cyan-150 w-28 h-28 hover:bg-cyan-100 md:w-32 md:h-32 md:mr-8">
                        <a href="">BetNFL</a>
                    </button>
                   
                </div>

                <div class="mt-8">
                    or <br><br> 
                    <a><mark class="bg-yellow-200"><u>See how BetML works.</u></mark></a>
                </div>
            </div>

            



        </div>

        <!-- <hr class="mt-8 border-spacing-5"> -->
        




        

    

          


           

        <script src="static/js/index.js" async defer></script>
    </body>

</html>