<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Hey, I'm Bennett Cohen</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="./static//dist/output.css" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="static/public/icons/fav.png">
        <script src="static/js/index.js" async defer></script>
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
        <script> 
            $(function(){
              $("#header").load("/header"); 
              $("#footer").load("/footer"); 
            });
        </script> 
    </head>
    <body class="bg-slate-50 pt-8 px-8 overflow-x-clip sm:pt-16 sm:px-12">
        
        <div id="header"></div>

        <div id="project-title" class="mt-20 text-center px-4 mx-auto sm:w-2/5">
            <p class="font-slab text-2xl sm:text-3xl">This is my blog.</p>
            <div class="h-2 mt-1 mx-auto text-center bg-cyan-150 w-14"></div>
            <p class="font-sans text-slate-600 mt-4 text-sm sm:text-base">A place for me to share my projects, tutorials in ML and data science, along with random thoughts about the industry as a whole.</p>
            <div class="bg-yellow-200"><p class="font-sans text-slate-600 mt-2 text-sm sm:text-base">**Border colors are just to group related posts</p></div>
        </div>

        <!-- Grid -->
        <div class="mt-8 container flex flex-wrap gap-x-4 justify-between gap-y-4 mx-auto">
            <div class="bg-white w-80 h-auto flex-shrink-0 flex-grow-0 shadow-2xl border-rose-500 border-2 rounded-lg mx-auto">

                <img src="./static/public/blog-images/cart-1-image.png" alt="" class="rounded-t-lg w-80 h-fit">
                
                <div class="text-xl text-center font-slab mt-4 px-4">Understanding Decision Trees [CART] in ML — Part I: Math & Intuition</div>
                
                <div class="mt-4 grid mx-auto grid-cols-2">
                    <div>
                        <div><img src="./static/public/icons/yt.svg" alt="" class="w-8 h-8 mx-auto text-center"></div>
                        <p class="font-slab text-md text-slate-600 text-center mx-auto">Watch Video</p>
                    </div>

                    <div>
                        <div><svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 mx-auto text-center" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z" clip-rule="evenodd" />
                        </svg></div>
                        <p class="font-slab text-md text-slate-600 text-center mx-auto">Read Article</p>
                    </div>

                    
                </div>
            
            </div>

            <div class="w-80 bg-white flex-grow-0 flex-shrink-0 h-auto shadow-2xl border-rose-500 border-2 rounded-lg mx-auto">

                <img src="./static/public/blog-images/cart-2-image.png" alt="" class="rounded-t-lg">
        
                <div class="text-xl text-center font-slab mt-4 px-4">Understanding Decision Trees [CART] in ML — Part II: Building one from scratch</div>
                
                <div class="mt-4 grid mx-auto grid-cols-2">
                    <div>
                        <div><img src="./static/public/icons/yt.svg" alt="" class="w-8 h-8 mx-auto text-center"></div>
                        <p class="font-slab text-md text-slate-600 text-center mx-auto">Watch Video</p>
                    </div>

                    <div>
                        <div><svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 mx-auto text-center" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z" clip-rule="evenodd" />
                        </svg></div>
                        <p class="font-slab text-md text-slate-600 text-center mx-auto">Read Article</p>
                    </div>

                    
                </div>
            
            </div>

            <div class="w-80 bg-white flex-grow-0 flex-shrink-0 h-auto shadow-2xl border-emerald-400 border-2 rounded-lg mx-auto">

                <img src="./static/public/blog-images/cart-2-image.png" alt="" class="rounded-t-lg">
                <!-- <div class="mt-4 mx-4">
                    <ul class="flex justify-between">
                        <li class="bg-cyan-150 text-slate-600 rounded-2xl w-fit px-4 text-center">Tutorial</li>
                        <li class="bg-cyan-150 text-slate-600 rounded-2xl w-fit px-4 text-center">ML/Data</li>
                        <li class="bg-cyan-150 text-slate-600 rounded-2xl w-fit px-4 text-center">Python</li>
                    </ul>
                </div> -->




                <div class="text-xl text-center font-slab mt-4 px-4">Neural Network from Scratch — Part I: Intuition & Forward Propagation</div>
                
                <div class="mt-4 grid mx-auto grid-cols-2">
                    <div>
                        <div><img src="./static/public/icons/yt.svg" alt="" class="w-8 h-8 mx-auto text-center"></div>
                        <p class="font-slab text-md text-slate-600 text-center mx-auto">Watch Video</p>
                    </div>

                    <div>
                        <div><svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 mx-auto text-center" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z" clip-rule="evenodd" />
                        </svg></div>
                        <p class="font-slab text-md text-slate-600 text-center mx-auto">Read Article</p>
                    </div>

                    
                </div>
            
            </div>

            <div class="w-80 bg-white flex-grow-0 flex-shrink-0 h-auto shadow-2xl border-emerald-400 border-2 rounded-lg mx-auto">

                <img src="./static/public/blog-images/cart-2-image.png" alt="" class="rounded-t-lg">
                <!-- <div class="mt-4 mx-4">
                    <ul class="flex justify-between">
                        <li class="bg-cyan-150 text-slate-600 rounded-2xl w-fit px-4 text-center">Tutorial</li>
                        <li class="bg-cyan-150 text-slate-600 rounded-2xl w-fit px-4 text-center">ML/Data</li>
                        <li class="bg-cyan-150 text-slate-600 rounded-2xl w-fit px-4 text-center">Python</li>
                    </ul>
                </div> -->




                <div class="text-xl text-center font-slab mt-4 px-4">Neural Network from Scratch — Part II: Backpropagation</div>
                
                <div class="mt-4 grid mx-auto grid-cols-2">
                    <div>
                        <div><img src="./static/public/icons/yt.svg" alt="" class="w-8 h-8 mx-auto text-center"></div>
                        <p class="font-slab text-md text-slate-600 text-center mx-auto">Watch Video</p>
                    </div>

                    <div>
                        <div><svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 mx-auto text-center" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z" clip-rule="evenodd" />
                        </svg></div>
                        <p class="font-slab text-md text-slate-600 text-center mx-auto">Read Article</p>
                    </div>

                    
                </div>
            
            </div>

            <div class="w-80 bg-white  flex-grow-0 flex-shrink-0 h-auto shadow-2xl border-emerald-400 border-2 rounded-lg mx-auto">

                <img src="./static/public/blog-images/cart-2-image.png" alt="" class="rounded-t-lg">
                <!-- <div class="mt-4 mx-4">
                    <ul class="flex justify-between">
                        <li class="bg-cyan-150 text-slate-600 rounded-2xl w-fit px-4 text-center">Tutorial</li>
                        <li class="bg-cyan-150 text-slate-600 rounded-2xl w-fit px-4 text-center">ML/Data</li>
                        <li class="bg-cyan-150 text-slate-600 rounded-2xl w-fit px-4 text-center">Python</li>
                    </ul>
                </div>

 -->


                <div class="text-xl text-center font-slab mt-4 px-4">Neural Network from Scratch — Part III: Coding it up</div>
                
                <div class="mt-4 grid mx-auto grid-cols-2">
                    <div>
                        <div><img src="./static/public/icons/yt.svg" alt="" class="w-8 h-8 mx-auto text-center"></div>
                        <p class="font-slab text-md text-slate-600 text-center mx-auto">Watch Video</p>
                    </div>

                    <div>
                        <div><svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 mx-auto text-center" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z" clip-rule="evenodd" />
                        </svg></div>
                        <p class="font-slab text-md text-slate-600 text-center mx-auto">Read Article</p>
                    </div>

                    
                </div>
            
            </div>

            <div class="w-80 bg-white  flex-grow-0 flex-shrink-0 h-auto shadow-2xl border-emerald-400 border-2 rounded-lg mx-auto">

                <img src="./static/public/blog-images/cart-2-image.png" alt="" class="rounded-t-lg">
                <!-- <div class="mt-4 mx-4">
                    <ul class="flex justify-between">
                        <li class="bg-cyan-150 text-slate-600 rounded-2xl w-fit px-4 text-center">Tutorial</li>
                        <li class="bg-cyan-150 text-slate-600 rounded-2xl w-fit px-4 text-center">ML/Data</li>
                        <li class="bg-cyan-150 text-slate-600 rounded-2xl w-fit px-4 text-center">Python</li>
                    </ul>
                </div>

 -->


                <div class="text-xl text-center font-slab mt-4 px-4">Neural Network from Scratch — Part III: Coding it up</div>
                
                <div class="mt-4 grid mx-auto grid-cols-2">
                    <div>
                        <div><img src="./static/public/icons/yt.svg" alt="" class="w-8 h-8 mx-auto text-center"></div>
                        <p class="font-slab text-md text-slate-600 text-center mx-auto">Watch Video</p>
                    </div>

                    <div>
                        <div><svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 mx-auto text-center" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z" clip-rule="evenodd" />
                        </svg></div>
                        <p class="font-slab text-md text-slate-600 text-center mx-auto">Read Article</p>
                    </div>

                    
                </div>
            
            </div>

            <div class="w-80 bg-white  flex-grow-0 flex-shrink-0 h-auto shadow-2xl border-emerald-400 border-2 rounded-lg mx-auto">

                <img src="./static/public/blog-images/cart-2-image.png" alt="" class="rounded-t-lg">
                <!-- <div class="mt-4 mx-4">
                    <ul class="flex justify-between">
                        <li class="bg-cyan-150 text-slate-600 rounded-2xl w-fit px-4 text-center">Tutorial</li>
                        <li class="bg-cyan-150 text-slate-600 rounded-2xl w-fit px-4 text-center">ML/Data</li>
                        <li class="bg-cyan-150 text-slate-600 rounded-2xl w-fit px-4 text-center">Python</li>
                    </ul>
                </div>

 -->


                <div class="text-xl text-center font-slab mt-4 px-4">Neural Network from Scratch — Part III: Coding it up</div>
                
                <div class="mt-4 grid mx-auto grid-cols-2">
                    <div>
                        <div><img src="./static/public/icons/yt.svg" alt="" class="w-8 h-8 mx-auto text-center"></div>
                        <p class="font-slab text-md text-slate-600 text-center mx-auto">Watch Video</p>
                    </div>

                    <div>
                        <div><svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 mx-auto text-center" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z" clip-rule="evenodd" />
                        </svg></div>
                        <p class="font-slab text-md text-slate-600 text-center mx-auto">Read Article</p>
                    </div>

                    
                </div>
            
            </div>




        </div>

        <hr class="mt-8 border-spacing-5">
    


        <!-- Footer -->
        <div id="footer"></div>



    </body>

</html>