<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Hey, I'm Bennett Cohen</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="./static//dist/output.css" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="static/public/icons/fav.png">
        <script src="static/js/index.js" async defer></script>
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
        <script> 
            $(function(){
              $("#header").load("/header"); 
              $("#footer").load("/footer"); 
            });
        </script> 
        <style>
            .link-underline {
                border-bottom-width: 0;
                background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
                background-size: 0 6px;
                background-position: 0 100%;
                background-repeat: no-repeat;
                transition: background-size .5s ease-in-out;
            }
        
            .link-underline-black {
                background-image: linear-gradient(transparent, transparent), linear-gradient(#5DFDCB, #5DFDCB)
            }
        
            .link-underline:hover {
                background-size: 100% 6px;
                background-position: 0 100%;
            }
        </style>
    </head>
    <body class="px-8">
        <header class="font-prim text-prim container items-center flex justify-between mt-8">
            <div>
                <a href="/" class="flex items-center">
                    <div>
                        <span class="self-center text-6xl whitespace-nowrap ">BC</span>
                        <div class="h-2 w-12 bg-sea text-center -my-2 mx-auto rounded-full"></div>
                    </div>
                <img src="./static/public/headshot.jpg" class="ml-8 h-20 w-20 rounded-full" alt="Bennett Cohen Headshot">
            </div>
            <button class="md:hidden" id="toggle">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16m-7 6h7" />
                </svg>
            </button>

            <div id = 'nav' class="fixed top-20 -right-full md:right-0 transition-all bg-sea rounded-2xl md:rounded-none px-16 md:px-0 md:bg-white md:relative md:top-0">
                <ul class="flex flex-col p-4 py-20 md:py-4 md:flex-row text-2xl space-y-10 md:space-y-0 md:space-x-16"> 
                    <li><a href="" class="link link-underline link-underline-black text-prim">About Me</a></li>
                    <li><a href="" class="link link-underline link-underline-black text-prim">Projects</a></li>
                    <li><a href="" class="link link-underline link-underline-black text-prim">Blogs & Videos</a></li>
                    <li><a href="" class="link link-underline link-underline-black text-prim">Resume</a></li>
            
                </ul>
            </div>
                
    
        </header>

        <div class='mt-10 md:mt-32'>
            <div class=" text-sea font-semibold text-lg md:text-2xl">HI, I'M BENNETT</div>
            <div class="mt-6 font-prim text-prim text-4xl md:text-7xl">I use data to solve problems.</div>

            <p class="text-base md:text-md text-sec mt-4">
                By day, I'm an ML Engineer & Data Scientist.
                <br><br>
                By night, I'm finishing my M.S. at UC Berkeley, specializing in Applied Machine Learning & Optimization
                <br><br>
                You can check out <b><u>problems I've solved</u></b> or read <b><u>my blog</u></b>, where I share projects & tutorials on ML and data science.
            </p>
        </div>

        <div class="mt-16 md:mt-32 text-3xl md:text-5xl font-prim">Recent Stuff</div>

       <div class="flex gap-x-8 gap-y-8 flex-wrap">
            <div class="w-64 h-72 flex-grow-0 flex-shrink-0 rounded-lg shadow-xl backdrop:cursor-pointer duration-300 ease-in-out transition-transform transform hover:-translate-y-2">
                <img class="object-fill w-64 h-72 shadow-xl rounded-xl z-10" src="static/public/blog-images/betml-background.png" alt="BetML: 272% ROI with ML-powered sports betting engines.">
                <span class="absolute left-0 top-0 z-30 mt-3 ml-3 px-2 py-2 font-prim text-white text-2xl">
                    BetML: 272% ROI with ML-powered sports betting engines.
                </span>
            </div>

            <div class="w-64 h-72 flex-grow-0 flex-shrink-0 rounded-lg shadow-xl backdrop:cursor-pointer duration-300 ease-in-out transition-transform transform hover:-translate-y-2">
                <img class="object-fill w-64 h-72 shadow-xl rounded-xl z-10" src="static/public/blog-images/nn-background.png" alt="BetML: 272% ROI with ML-powered sports betting engines.">
                <span class="absolute left-0 top-0 z-30 mt-3 ml-3 px-2 py-2 font-prim text-white text-2xl">
                    Understanding the Intuition of Neural Networks
                </span>
            </div>
            
       </div>

       



        
        
    
        
        <script src="" async defer></script>
    </body>
</html>