<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Hey, I'm Bennett Cohen</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="./static//dist/output.css" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="static/public/icons/fav.png">
        <script src="static/js/index.js" async defer></script>
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
        <script> 
            $(function(){
              $("#header").load("/header"); 
              $("#footer").load("/footer"); 
            });
        </script> 
    </head>
    <body class="bg-slate-50 pt-8 px-8 overflow-x-clip sm:pt-16 sm:px-12">
        
        <div id="header"></div>
        

        <!-- Hero -->
        <div class="flex flex-col container mt-16 sm:mt-28 sm:flex-row sm:justify-between">
            <div class="sm:w-2/4">
                <p class="font-slab  text-3xl sm:text-4xl sm:w-10/12">
                    Hey, I'm Bennett Cohen,
                    and I love solving problems
                    with machine learning.
                </p>

                <div class="mt-8 font-sans text-slate-600 text-sm sm:text-base">
                    You can check out <a href='/projects'><u class="text-gray-900 font-bold">problems I've solved </u></a> or <a href="/blog"><u class="text-gray-900 font-bold">read my blog</u></a>, 
                    where I share projects & tutorials on ML and data science.
                    <br><br>
                    By day, I'm a Machine Learning + Software Engineer. 
                    <br><br>
                    By night, I'm finishing my Masters at the <u class="text-gray-900 font-bold">University of California, Berkeley</u>, specializing in Applied Machine Learning & Optimization.
                </div>
            </div>

            <div class="text-center mt-4 sm:mt-auto">
                <img src="./static/public/headshot.jpg" alt="" class="mt-4 mx-auto text-center rounded w-36 sm:mt-0 sm:rounded-xl sm:w-72">
                <p class="font-sans text-slate-600 text-sm">That's me!</p>
                <div class="h-8 w-8 mt-2 mx-auto sm:hidden">
                    <a href="#project-title">
                    <svg xmlns="http://www.w3.org/2000/svg" class="text-gray-900" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 13l-3 3m0 0l-3-3m3 3V8m0 13a9 9 0 110-18 9 9 0 010 18z" />
                    </svg>
                    </a>
                </div>
            </div>

        </div>

        <hr class="mt-8 border-spacing-5">
        
        <div id="projects">
            <!-- Projects Title -->
            <div id="project-title" class="mt-4 text-center w-80 mx-auto sm:w-2/5">
                <p class="font-slab text-2xl sm:text-3xl">Recent Projects</p>
                <div class="h-2 mt-1 mx-auto text-center bg-cyan-150 w-14"></div>
                <p class="font-sans text-slate-600 mt-4 text-sm sm:text-base">Personal and academic projects where I apply the theoretical concepts to solve real problems . . . or just build something fun!</p>
            </div>

            <!-- Project Cards -->
            <div class="mt-8 container flex flex-wrap gap-x-4 justify-between gap-y-4 mx-auto">

                <div class="w-80 bg-white flex-grow-0 flex-shrink-0 h-96 shadow-2xl py-4 px-4 rounded-lg mx-auto">
                        
                    <div class="font-slab text-3xl text-gray-900">BetML</div>
                    <div class="h-2 mt-1 bg-cyan-150 w-14"></div>
                    <p class="font-slab  text-gray-900 text-xl mt-4">
                        <mark class="bg-yellow-200">Robust, ML-powered sports betting engines with 272% real annual ROI.</mark>
                    </p>
                    
                    <p class="mt-2 text-slate-600 text-sm">
                        BetML is a set of three projects (BetNBA, BetMLB, and BetNFL [WIP]), 
                        which combine supervised learning and classical decision theory to place 
                        optimal sports bets. BetML introduces more effective strategies to consider risk 
                        than traditional risk aversion functions. It also improves the Kelly Criterion 
                        sizing strategy to include a time delay on bet scaling to make . . .
                    </p>
                    <!-- <mark class="bg-cyan-150"><p class="mt-2 text-center text-slate-600 text-sm"><u>Read Papers & Learn More →</u></p></mark> -->
                    <a href="/blog"><p class="mt-2 text-center"><u><mark class="bg-cyan-150 font-sans text-sm">Read Papers & Learn More →</mark></u></p></a>
                </div>

                <div class="w-80 bg-white flex-grow-0 flex-shrink-0 h-96 shadow-2xl py-4 px-4 rounded-lg mx-auto">
                        
                    <div class="font-slab text-3xl text-gray-900">Wo(R)d(L)e [WIP]</div>
                    <div class="h-2 mt-1 bg-cyan-150 w-14"></div>
                    <p class="font-slab  text-gray-900 text-xl mt-4">
                        <mark class="bg-yellow-200">Cracking Wordle with superhuman performance using reinforcement learning.</mark>
                    </p>
                    
                    <p class="mt-2 text-slate-600 text-sm">
                        The goal of Wo(R)d(L)e is to build algorithms to solve Wordle games to both 
                        minimize the average score and the amount of human information/intuition required 
                        using reinforcement learning. My inspiration for this project was reading the papers on AlphaGo and AlphaZero, the latter of which 
                        doesn't use any human-expert . . . 
                    </p>
                    <!-- <mark class="bg-cyan-150"><p class="mt-2 text-center text-slate-600 text-sm"><u>Read Papers & Learn More →</u></p></mark> -->
                    <a href="/blog"><p class="mt-2 text-center"><u><mark class="bg-cyan-150 font-sans text-sm">Read Papers & Learn More →</mark></u></p></a>
                </div>

                <div class="w-80 bg-white flex-grow-0 flex-shrink-0 h-96 shadow-2xl py-4 px-4 rounded-lg mx-auto">
                        
                    <div class="font-slab text-3xl text-gray-900">Optimize Disneyland</div>
                    <div class="h-2 mt-1 bg-cyan-150 w-14"></div>
                    <p class="font-slab  text-gray-900 text-xl mt-4">
                        <mark class="bg-yellow-200">Using traffic forecasting and markov queuing theory to reduce Disneyland wait times by 25%.</mark>
                    </p>
                    
                    <p class="mt-2 text-slate-600 text-sm">
                        The goal of Wo(R)d(L)e is to build algorithms to solve Wordle games to both 
                        minimize the average score and the amount of human information/intuition required 
                        using reinforcement learning. My inspiration for this project was reading the papers on AlphaGo and AlphaZero, the latter of which 
                        doesn't use any human-expert . . . 
                    </p>
                    <!-- <mark class="bg-cyan-150"><p class="mt-2 text-center text-slate-600 text-sm"><u>Read Papers & Learn More →</u></p></mark> -->
                    <a href="/blog"><p class="mt-2 text-center"><u><mark class="bg-cyan-150 font-sans text-sm">Read Papers & Learn More →</mark></u></p></a>
                </div>    
            </div>

            <div class="my-10 mx-auto text-center">
                <button class="bg-cyan-150 hover:bg-cyan-100 w-52 h-16 font-slab text-xl rounded">
                    See All Projects
                </button>
            </div>
       
        </div>

        <hr class="border-spacing-5">    
        
        <div id="blog">

            <!-- Blog Title -->
            <div id="blog-title" class="mt-4 text-center w-80 mx-auto sm:w-2/5">
                <p class="font-slab text-2xl sm:text-3xl">Recent Blog Posts</p>
                <div class="h-2 mt-1 mx-auto text-center bg-cyan-150 w-14"></div>
                <p class="font-sans text-slate-600 mt-4 text-sm sm:text-base">
                    A place for me to share my projects, tutorials in ML and data science, 
                    along with random thoughts about the industry as a whole.                
                </p>
            </div>


            <div class="mt-8 container flex flex-wrap gap-x-4 justify-between gap-y-4 mx-auto">
                
                <div class="bg-white w-80 h-80 flex-shrink-0 flex-grow-0 shadow-2xl rounded-lg mx-auto">
    
                    <img src="./static/public/blog-images/cart-1-image.png" alt="" class="rounded-t-lg w-80 h-fit">
                    <div class="text-xl text-center font-slab mt-4 px-4">Understanding Decision Trees [CART] in ML — Part I: Math & Intuition</div>
                    <div class="mt-4 grid mx-auto grid-cols-2">
                        <div>
                            <div><img src="./static/public/icons/yt.svg" alt="" class="w-8 h-8 mx-auto text-center"></div>
                            <p class="font-slab text-md text-slate-600 text-center mx-auto">Watch Video</p>
                        </div>
    
                        <div>
                            <div><svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 mx-auto text-center" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z" clip-rule="evenodd" />
                            </svg></div>
                            <p class="font-slab text-md text-slate-600 text-center mx-auto">Read Article</p>
                        </div>
    
                        
                    </div>
                </div>
    
                <div class="w-80 bg-white flex-grow-0 flex-shrink-0 h-auto shadow-2xl rounded-lg mx-auto">
    
                    <img src="./static/public/blog-images/cart-2-image.png" alt="" class="rounded-t-lg">
                    
    
    
    
    
                    <div class="text-xl text-center font-slab mt-4 px-4">Neural Network from Scratch — Part II: Backpropagation</div>
                    
                    <div class="mt-4 grid mx-auto grid-cols-2">
                        <div>
                            <div><img src="./static/public/icons/yt.svg" alt="" class="w-8 h-8 mx-auto text-center"></div>
                            <p class="font-slab text-md text-slate-600 text-center mx-auto">Watch Video</p>
                        </div>
    
                        <div>
                            <div><svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 mx-auto text-center" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z" clip-rule="evenodd" />
                            </svg></div>
                            <p class="font-slab text-md text-slate-600 text-center mx-auto">Read Article</p>
                        </div>
    
                        
                    </div>
                
                </div>
    
                <div class="w-80 bg-white  flex-grow-0 flex-shrink-0 h-auto shadow-2xl rounded-lg mx-auto">
    
                    <img src="./static/public/blog-images/cart-2-image.png" alt="" class="rounded-t-lg">
                    <!-- <div class="mt-4 mx-4">
                        <ul class="flex justify-between">
                            <li class="bg-cyan-150 text-slate-600 rounded-2xl w-fit px-4 text-center">Tutorial</li>
                            <li class="bg-cyan-150 text-slate-600 rounded-2xl w-fit px-4 text-center">ML/Data</li>
                            <li class="bg-cyan-150 text-slate-600 rounded-2xl w-fit px-4 text-center">Python</li>
                        </ul>
                    </div>
    
     -->
    
    
                    <div class="text-xl text-center font-slab mt-4 px-4">Neural Network from Scratch — Part III: Coding it up</div>
                    
                    <div class="mt-4 grid mx-auto grid-cols-2">
                        <div>
                            <div><img src="./static/public/icons/yt.svg" alt="" class="w-8 h-8 mx-auto text-center"></div>
                            <p class="font-slab text-md text-slate-600 text-center mx-auto">Watch Video</p>
                        </div>
    
                        <div>
                            <div><svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 mx-auto text-center" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z" clip-rule="evenodd" />
                            </svg></div>
                            <p class="font-slab text-md text-slate-600 text-center mx-auto">Read Article</p>
                        </div>
    
                        
                    </div>
                
                </div>
    
            </div>

            <div class="my-10 mx-auto text-center">
                <button class="bg-cyan-150 hover:bg-cyan-100 w-52 h-16 font-slab text-xl rounded">
                    Go to Blog
                </button>
            </div>


        </div>
        

        <hr class="border-spacing-5">

        <!-- About Me Title -->
        <div id="about">
            <div id='about' class="mt-4 text-center w-4/4 mx-auto sm:w-3/5">
                <p class="font-slab  text-2xl sm:text-3xl">About Me</p>
                <div class="h-2 mt-1 mx-auto text-center bg-cyan-150 w-14"></div>
                <p class="font-sans text-slate-600 mt-4 text-sm sm:text-base">
                    Hey, I'm Bennett Cohen, and I love solving problems with machine learning. By day, I work as a part-time ML engineer and software developer, integrating ML and data science into projects for clients across financial, legal, and real-estate sectors. By night, I'm finishing my Masters of Science at the University of California, Berkeley, specializing in Applied Machine Learning & Optimization through the Department of Industrial Engineering & Operations Research (shortened to just IEOR). I received my Bachelors of Science in IEOR from UC Berkeley as well, with a minor in Data Science. 
                    <br><br>When I'm not staring at a computer screen, you can find me snowboarding in Lake Tahoe, working out with my friends, or cooking dinner for my family. Before and during college, I spent a few years as a freelance graphic designer, designing websites and brand identities for clients and startups. I was actually going to go to art school before I landed in engineering. 
                    <br><br>I'm looking to apply ML techniques and optimization to address issues in our world like education inequality, climate change, and interpersonal connection/mental health. If you're looking for a one-off job, hiring for a full-time, or simply want to chat about the state of the world, freel free to reach out at <a href="mailto: bennettcohen@berkeley.edu"><u>bennettcohen@berkeley.edu</u></a>.
                </p>
            </div>
    
            <div class="my-10 mx-auto text-center">
                <button class="bg-cyan-150 hover:bg-cyan-100 w-52 h-16 font-slab text-xl rounded">
                    My Resume
                </button>
            </div>
        </div>

        <hr class="border-spacing-5 mt-10">

        <div id="footer"></div>
        <!-- Footer
        <div class="container flex justify-between mt-4 mb-4">
            <div>
                <div class="font-slab  text-3xl"><a href="/">BC</a></div>
                <ul class="flex mt-2">
                    <li class="mr-4">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 24 24"><path d="M22 6h-6v-6l6 6zm-8 2v-8h-12v24h20v-16h-8z"/></svg>                    <li class="mr-4">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 24 24"><path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/></svg>
                    </li>
                    <li class="mr-4">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 24 24"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg>
                    </li>
                </ul>
            </div>

            <div class="text-right">
                <div class="font-slab  text-2xl"><a href="/">Work with me?</a></div>
                <ul class="text-slate-600">
                    <li><a href="">bennettcohen@berkeley.edu</a></li>
                    <li>202.734.0491</li>
                </ul>
            </div>


        </div> -->



    </body>

</html>