
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>My Projects | Bennett Cohen</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="./static//dist/output.css" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="static/public/icons/fav.png">
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
        <script> 
            $(function(){
              $("#header").load("/header"); 
              $("#footer").load("/footer"); 
            });
        </script> 

        
    </head>
    <body class="px-8">
        <header class="font-prim text-prim container items-center flex justify-between mt-8">
            <div>
                <a href="/" class="flex items-center">
                    <div>
                        <span class="self-center text-6xl whitespace-nowrap ">BC</span>
                        <div class="h-1 w-12 bg-sea text-center -my-2 mx-auto rounded-full"></div>
                    </div>
                <img src="./static/public/headshot.jpg" class="ml-8 h-20 w-20 rounded-full" alt="Bennett Cohen Headshot">
            </div>
        
            <button type='button' class="md:hidden" id="toggle">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16m-7 6h7" />
                </svg>
            </button>
        
            <nav id='nav' class="fixed top-20 -right-full md:right-0 transition-all bg-sea rounded-2xl md:rounded-none px-16 md:px-0 md:bg-white md:relative md:top-0">
                <ul class="flex flex-col p-4 py-20 md:py-4 md:flex-row text-2xl space-y-10 md:space-y-0 md:space-x-16">
                    <li><a href="/about" class="text-prim">
                        <div class="border-b-4 border-sec hover:border-sea transition-all">About Me</div>
                    </a></li>
                    <li><a href="/projects" class="text-prim">
                        <div class="border-b-4 border-sec hover:border-sea transition-all">Projects</div>
                    </a></li>
                    <li><a href="/blog" class="text-prim">
                        <div class="border-b-4 border-sec hover:border-sea transition-all">Blogs & Videos</div>
                    </a></li>
                    <li><a href="/resume" class="text-prim">
                        <div class="border-b-4 border-sec hover:border-sea transition-all">Resume</div>
                    </a></li>
                </ul>
            </nav>
        
            
                
        
        </header>

        <div class="mt-12 md:mt-24 text-center md:text-left">
        
            <div class="mt-2 md:mt-4 font-prim text-prim text-5xl md:text-7xl">My Projects</div>
            <div class=" text-sea font-semibold text-lg md:text-2xl md:w-2/4">
                Personal & academic projects where I apply the theoretical concepts 
                to solve real problems . . . or just build something kinda coo!
            </div>
            <p class="text-sm md:text-md text-sec mt-4">
                Each project has its own page with links to papers and other resources.
            </p>
        </div>
 


       <div class="mt-8 mx-auto flex gap-x-8 gap-y-8 flex-wrap">
            <div class="mx-auto md:mx-0 flex-grow-0 flex-shrink-0  backdrop:cursor-pointer duration-300 ease-in-out transition-transform transform hover:-translate-y-2">
                <p class="text-sec text-xs md:text-sm ml-3">Personal Project + Income Source</p>
                <div class="w-72 h-72 rounded-lg shadow-xl">
                    <img class="object-fill w-72 h-72 shadow-xl rounded-xl z-10" src="static/public/blog-images/betml-background.png" alt="BetML: 272% ROI with ML-powered sports betting engines.">
                    <span class="absolute left-0 top-0 z-30 mt-6 ml-3 px-2 py-2 font-prim text-white text-2xl">
                        <u>BetML</u>: 272% ROI with ML-powered sports betting engines.
                    </span>
                </div>
            </div>

            <div class="mx-auto md:mx-0 flex-grow-0 flex-shrink-0  backdrop:cursor-pointer duration-300 ease-in-out transition-transform transform hover:-translate-y-2">
                <p class="text-sec text-xs md:text-sm ml-3">Personal Project</p>
                <div class="w-72 h-72 rounded-lg shadow-xl">
                    <img class="object-fill w-72 h-72 shadow-xl rounded-xl z-10" src="static/public/blog-images/wordle-background.png" alt="BetML: 272% ROI with ML-powered sports betting engines.">
                    <span class="absolute left-0 top-0 z-30 mt-6 ml-3 px-2 py-2 font-prim text-prim text-2xl">
                        <u>Wo[R]d[L]e</u>: Cracking viral game Wordle w/ Deep Reinforcement Learning
                    </span>
                </div>
            </div>

            <div class="mx-auto md:mx-0 flex-grow-0 flex-shrink-0  backdrop:cursor-pointer duration-300 ease-in-out transition-transform transform hover:-translate-y-2">
                <p class="text-sec text-xs md:text-sm ml-3">Consulting Project</p>
                <div class="w-72 h-72 rounded-lg shadow-xl">
                    <img class="object-fill w-72 h-72 shadow-xl rounded-xl z-10" src="static/public/blog-images/disney-background.png" alt="BetML: 272% ROI with ML-powered sports betting engines.">
                    <span class="absolute left-0 top-0 z-30 mt-6 ml-3 px-2 py-2 font-prim text-white text-2xl">
                        <u>Disney-Q</u>: Reducing Disneyland wait time by 25% with traffic forecasting and Markov queueing theory.
                    </span>
                </div>
            </div>

            <div class="mx-auto md:mx-0 flex-grow-0 flex-shrink-0  backdrop:cursor-pointer duration-300 ease-in-out transition-transform transform hover:-translate-y-2">
                <p class="text-sec text-xs md:text-sm ml-3">Consulting Project</p>
                <div class="w-72 h-72 rounded-lg shadow-xl">
                    <img class="object-fill w-72 h-72 shadow-xl rounded-xl z-10" src="static/public/blog-images/sb-background.png" alt="BetML: 272% ROI with ML-powered sports betting engines.">
                    <span class="absolute left-0 top-0 z-30 mt-6 ml-3 px-2 py-2 font-prim text-prim text-2xl">
                        <u>Sports Basement</u>: Optimizing Ski Gear Rental Queuing System.
                    </span>
                </div>
            </div>

           
            
       </div>

       


       <div class="mt-8 md:mt-16">
        <hr class="border-spacing-5">
        <div class="container flex justify-between mt-4 mb-4">
            <div>
                <div class="font-prim text-3xl"><a href="/">Bennett Cohen</a></div>
                <ul class="flex mt-2">
                    <li class="mr-4">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 24 24"><path d="M22 6h-6v-6l6 6zm-8 2v-8h-12v24h20v-16h-8z"/></svg>                    <li class="mr-4">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 24 24"><path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/></svg>
                    </li>
                    <li class="mr-4">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 24 24"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg>
                    </li>
                </ul>
            </div>
        
            <div class="text-right">
                <div class="font-prim  text-2xl"><a href="/">Work with me?</a></div>
                <ul class="text-sec">
                    <li><a href="">bennettcohen@berkeley.edu</a></li>
                    <li>202.734.0491</li>
                </ul>
            </div>
        
        
        </div>
        
       </div>

       



        
        
    
    </body>
</html>