<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Hey, I'm Bennett Cohen</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="./static//dist/output.css" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="static/public/icons/fav.png">
        <script src="static/js/index.js" async defer></script>
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
        <script> 
            $(function(){
              $("#header").load("/header"); 
              $("#footer").load("/footer"); 
            });
        </script> 
    </head>
    <body class="bg-slate-50 pt-8 px-8 overflow-x-clip sm:pt-16 sm:px-12">
        
        <div id="header"></div>

        <div id="projects">
            <!-- Projects Title -->
            <div id="project-title" class="mt-20 text-center w-80 mx-auto sm:w-2/5">
                <p class="font-slab text-2xl sm:text-3xl">These are my projects.</p>
                <div class="h-2 mt-1 mx-auto text-center bg-cyan-150 w-14"></div>
                <p class="font-sans text-slate-600 mt-4 text-sm sm:text-base">Personal and academic projects where I apply the theoretical concepts to solve real problems . . . or just build something fun!</p>
            </div>

            <!-- Project Cards -->
            <div class="mt-8 container flex flex-wrap gap-x-4 justify-between gap-y-8 mx-auto">

                <!-- BetML -->
                <div class="w-80 bg-white flex-grow-0 flex-shrink-0 h-96 shadow-2xl py-4 px-4 rounded-lg mx-auto">
                        
                    <div class="font-slab text-3xl text-gray-900">BetML</div>
                    <div class="h-2 mt-1 bg-cyan-150 w-14"></div>
                    <p class="font-slab  text-gray-900 text-xl mt-4">
                        <mark class="bg-yellow-200">Robust, ML-powered sports betting engines with 272% real annual ROI.</mark>
                    </p>
                    
                    <p class="mt-2 text-slate-600 text-sm">
                        BetML is a set of three projects (BetNBA, BetMLB, and BetNFL [WIP]), 
                        which combine supervised learning and classical decision theory to place 
                        optimal sports bets. BetML introduces more effective strategies to consider risk 
                        than traditional risk aversion functions. It also improves the Kelly Criterion 
                        sizing strategy to include a time delay on bet scaling to make . . .
                    </p>
                    <!-- <mark class="bg-cyan-150"><p class="mt-2 text-center text-slate-600 text-sm"><u>Read Papers & Learn More →</u></p></mark> -->
                    <a href="/blog"><p class="mt-2 text-center"><u><mark class="bg-cyan-150 font-sans text-sm">Read Papers & Learn More →</mark></u></p></a>
                </div>

                <!-- Wordle -->
                <div class="w-80 bg-white flex-grow-0 flex-shrink-0 h-96 shadow-2xl py-4 px-4 rounded-lg mx-auto">
                        
                    <div class="font-slab text-3xl text-gray-900">Wo(R)d(L)e</div>
                    <div class="h-2 mt-1 bg-cyan-150 w-14"></div>
                    <p class="font-slab  text-gray-900 text-xl mt-4">
                        <mark class="bg-yellow-200">Cracking Wordle with superhuman performance using reinforcement learning.</mark>
                    </p>
                    
                    <p class="mt-2 text-slate-600 text-sm">
                        The goal of Wo(R)d(L)e is to build algorithms to solve Wordle games to both 
                        minimize the average score and the amount of human information/intuition required 
                        using reinforcement learning. My inspiration for this project was reading the papers on AlphaGo and AlphaZero, the latter of which 
                        doesn't use any human-expert . . . 
                    </p>
                    <!-- <mark class="bg-cyan-150"><p class="mt-2 text-center text-slate-600 text-sm"><u>Read Papers & Learn More →</u></p></mark> -->
                    <a href="/blog"><p class="mt-2 text-center"><u><mark class="bg-cyan-150 font-sans text-sm">Read Papers & Learn More →</mark></u></p></a>
                </div>

                <!-- Cloak -->
                <div class="w-80 bg-white flex-grow-0 flex-shrink-0 h-96 shadow-2xl py-4 px-4 rounded-lg mx-auto">
                        
                    <div class="font-slab text-3xl text-gray-900">Cloak AI</div>
                    <div class="h-2 mt-1 bg-cyan-150 w-14"></div>
                    <p class="font-slab  text-gray-900 text-xl mt-4">
                        <mark class="bg-yellow-200">Fine-tuned GPT-3 for automated client interactions in law firms.</mark>
                    </p>
                    
                    <p class="mt-2 text-slate-600 text-sm">
                        The goal of Wo(R)d(L)e is to build algorithms to solve Wordle games to both 
                        minimize the average score and the amount of human information/intuition required 
                        using reinforcement learning. My inspiration for this project was reading the papers on AlphaGo and AlphaZero, the latter of which 
                        doesn't use any human-expert . . . 
                    </p>
                    <!-- <mark class="bg-cyan-150"><p class="mt-2 text-center text-slate-600 text-sm"><u>Read Papers & Learn More →</u></p></mark> -->
                    <a href="/blog"><p class="mt-2 text-center"><u><mark class="bg-cyan-150 font-sans text-sm">Read Papers & Learn More →</mark></u></p></a>
                </div>

                <!-- Optimize Disney -->
                <div class="w-80 bg-white flex-grow-0 flex-shrink-0 h-auto shadow-2xl py-4 px-4 rounded-lg mx-auto">
                        
                    <div class="font-slab text-3xl text-gray-900">Disneyland Optimization</div>
                    <div class="h-2 mt-1 bg-cyan-150 w-14"></div>
                    <p class="font-slab  text-gray-900 text-xl mt-4">
                        <mark class="bg-yellow-200">Using traffic forecasting and markov queuing theory to reduce Disneyland wait times by 25%.</mark>
                    </p>
                    
                    <p class="mt-2 text-slate-600 text-sm">
                        The goal of Wo(R)d(L)e is to build algorithms to solve Wordle games to both 
                        minimize the average score and the amount of human information/intuition required 
                        using reinforcement learning. My inspiration for this project was reading the papers on AlphaGo and AlphaZero, the latter of which 
                        doesn't use any human-expert . . . 
                    </p>
                    <!-- <mark class="bg-cyan-150"><p class="mt-2 text-center text-slate-600 text-sm"><u>Read Papers & Learn More →</u></p></mark> -->
                    <a href="/blog"><p class="mt-2 text-center"><u><mark class="bg-cyan-150 font-sans text-sm">Read Papers & Learn More →</mark></u></p></a>
                </div>   

                <!-- College Admissions -->
                <div class="w-80 bg-white flex-grow-0 flex-shrink-0 h-fit shadow-2xl py-4 px-4 rounded-lg mx-auto">
                        
                    <div class="font-slab text-3xl text-gray-900">College Admissions Predictor</div>
                    <div class="h-2 mt-1 bg-cyan-150 w-14"></div>
                    <p class="font-slab  text-gray-900 text-xl mt-4">
                        <mark class="bg-yellow-200">Using traffic forecasting and markov queuing theory to reduce Disneyland wait times by 25%.</mark>
                    </p>
                    
                    <p class="mt-2 text-slate-600 text-sm">
                        The goal of Wo(R)d(L)e is to build algorithms to solve Wordle games to both 
                        minimize the average score and the amount of human information/intuition required 
                        using reinforcement learning. My inspiration for this project was reading the papers on AlphaGo and AlphaZero, the latter of which 
                        doesn't use any human-expert . . . 
                    </p>
                    <!-- <mark class="bg-cyan-150"><p class="mt-2 text-center text-slate-600 text-sm"><u>Read Papers & Learn More →</u></p></mark> -->
                    <a href="/blog"><p class="mt-2 text-center"><u><mark class="bg-cyan-150 font-sans text-sm">Read Papers & Learn More →</mark></u></p></a>
                </div>

                <!-- Sports Basement -->
                <div class="w-80 bg-white flex-grow-0 flex-shrink-0 h-auto shadow-2xl py-4 px-4 rounded-lg mx-auto">
                        
                    <div class="font-slab text-3xl text-gray-900">Ski Rental Check-In</div>
                    <div class="h-2 mt-1 bg-cyan-150 w-14"></div>
                    <p class="font-slab  text-gray-900 text-xl mt-4">
                        <mark class="bg-yellow-200">Decreasing wait times in Sports Basement by 15% with automated check-in app.</mark>
                    </p>
                    
                    <p class="mt-2 text-slate-600 text-sm">
                        The goal of Wo(R)d(L)e is to build algorithms to solve Wordle games to both 
                        minimize the average score and the amount of human information/intuition required 
                        using reinforcement learning. My inspiration for this project was reading the papers on AlphaGo and AlphaZero, the latter of which 
                        doesn't use any human-expert . . . 
                    </p>
                    <!-- <mark class="bg-cyan-150"><p class="mt-2 text-center text-slate-600 text-sm"><u>Read Papers & Learn More →</u></p></mark> -->
                    <a href="/blog"><p class="mt-2 text-center"><u><mark class="bg-cyan-150 font-sans text-sm">Read Papers & Learn More →</mark></u></p></a>
                </div>

            

            </div>
       
        </div>

        <hr class="mt-8 border-spacing-5">
    


        <!-- Footer -->
        <div id="footer"></div>



    </body>

</html>